---

- name: update packages
  become: yes
  apt:
    update_cache: yes
    upgrade: yes


- name: install dependencies
  become: yes
  apt:
      name: 
        - nodejs
        - npm  
      state: latest
      update_cache: yes

- name: "install pm2"
  become: yes
  npm:
    name: pm2
    global: yes
    production: yes
    state: present