---
- name: "Copy dist backend directory to EC2 server"
  become: yes
  copy:
    src: ./project/artifact.tar.gz
    dest: /home/ubuntu/artifact.tar.gz

- name: "Install Ansible dependencies"
  become: true
  apt:
    name: ["nodejs", "npm", "python3", "tar", "gzip", "git"]
    state: latest
    update_cache: yes

- name: "Create directory for backend"
  file:
    path: /home/ubuntu/backend/
    state: directory

- name: prepare binaries
  become: true
  shell: |
    cd /home/ubuntu
    tar xvzf