---
- name: "upgrade packages."
  become: true
  apt:
    upgrade: "yes"

- name: "install dependencies."
  become: true
  apt:
    name: ["nodejs", "npm"]
    update_cache: yes

- name: "install pm2"
  become: true
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

- name: "create backend folder"
  become: true
  file:
    path: /home/ubuntu/backend
    state: directory

- name: "unarchive and copy backend"
  become: true
  unarchive:
    src: /root/project/artifact.tar.gz
    dest: /home/ubuntu/backend/

- name: install node modules
  become: true
  shell: |
    cd /home/ubuntu/backend
    npm install
- name: building node service
  become: true
  shell: |
    cd /home/ubuntu/backend
    npm run build
- name: start mp2
  become: true
  shell: |
    cd /home/ubuntu/backend
    pm2 stop default
    pm2 start npm -- start