- name: Create folder for extracted files
  file:
    path: /home/ubuntu/backend
    state: directory
    mode: 0755

- name: Extract 'artifact.tar.gz' into '/home/ubuntu/backend'
  ansible.builtin.unarchive:
    src: ~/project/artifact.tar.gz
    dest: /home/ubuntu/backend

- name: 'wait 60 seconds for target connection to become reachable/usable.'
  wait_for_connection:
    timeout: 60

- name: Run server
  become: true
  shell: |
    cd /home/ubuntu/backend
    npm install
    npm run build   
    pm2 stop default
    pm2 start npm --name "backend" -- start