- name: Creates directory
  become: true
  file:
    path: /home/ubuntu/backend
    state: directory

- name: Transfer backend files cloud server
  become: true
  copy:
    src: /root/project/backend
    dest: /home/ubuntu/

- name: "Update npm"
  become: true
  shell: |
    cd /home/ubuntu/backend
    npm install 



- name: "build package"
  become: true
  shell: |
    cd /home/ubuntu/backend
    npm run build
    
- name: Executing node
  become: true
  shell: |
    cd /home/ubuntu/backend
    pm2 start npm --name backend -- start
    pm2 ls