---
- name: "install dependencies."
  become: true
  apt:
    name: "tar"
    state: latest
    update_cache: yes

- name: "install dependencies."
  become: yes
  apt:
    name: ["nodejs", "npm"]
    update_cache: yes

- name: "install python."
  become: yes
  apt:
    name: ["python3"]
    state: latest
    update_cache: yes

- name: "install pm2"
  become: yes
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

- name: Copy backend dist files to remote server
  copy:
    src: /root/project/backend
    dest: /home/ubuntu

- name: Install Node modules
  shell: |
    cd /home/ubuntu/backend
    ls -la
    printenv
    npm install -g npm@latest
    npm install
    
- name: Building backend service
  shell: |
    cd /home/ubuntu/backend
    npm run build
    npm run prestart:prod
        
- name: Executing node
  become: true
  shell: |
    cd /home/ubuntu/backend
    pm2 start npm --name backend -- start
    pm2 ls

- name: Building node service
  shell: |
    cd /home/ubuntu/backend
    npm run build
    npm run prestart:prod
    
- name: start pm2 for dist/main.js
  become: no
  shell: pm2 start main.js
  args:
    chdir: /home/ubuntu/backend/dist