---
- name: "Copy dist backend directory to EC2 server"
  become: yes
  copy:
    src: ./artifact.tar.gz
    dest: /home/ubuntu/artifact.tar.gz

- name: "Install Ansible dependencies"
  become: true
  apt:
    name: ["nodejs", "npm", "python3", "tar", "gzip", "git"]
    state: latest
    update_cache: yes

- name: "Create directory for backend"
  file:
    path: /home/ubuntu/backend/
    state: directory

- name: prepare binaries
  become: true
  shell: |
    cd /home/ubuntu
    tar xvzf


# ---   
# - name: Create app dir
#   become: yes
#   file:
#     path: /home/ubuntu/app
#     state: directory

# - name: "Copy backend build folder to EC2"
#   become: yes
#   unarchive:
#     src: /tmp/workspace/backend.tar.gz
#     dest: /home/ubuntu/app/
#     owner: ubuntu

# - name: "Copy package.json to EC2"
#   become: yes
#   copy:
#     src: /tmp/workspace/package.json
#     dest: /home/ubuntu/app/
#     owner: ubuntu

# - name: "NPM Install"
#   shell:
#     cmd: npm install --production
#     chdir: /home/ubuntu/app
