/* .navbar-button {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  font-size: 16px;
  margin-left: 28px;
}

.disabled {
  color: #92a3c5;
}

.navbar-button:hover:enabled {
  background-color: inherit;
}

.navbar-button span {
  margin-left: 10px;
} */
