  version: 2.1

  commands:
    destroy_environment:
      description: Destroy backend and frontend cloudformation stacks given a workflow ID.
      parameters:
        workflow_id:
          type: string
      steps:
        - run:
            name: Destroy environments
            when: on_fail
            command: |
              echo "Destroying environment: <<parameters.workflow_id>> "
              aws cloudformation delete-stack --stack-name udapeople-backend-prod-<<parameters.workflow_id>>
              aws s3 rm s3://udapeople-prod-<<parameters.workflow_id>> --recursive
              aws cloudformation delete-stack --stack-name udapeople-frontend-prod-<<parameters.workflow_id>>
    undo_migrations:
      description: Revert the last migration if successfully run in the current workflow.
      steps:
        - run:
            name: Revert migrations
            when: on_fail
            command: |
              cd ~/project/backend
              if [[ -f "~/project/.circleci/outputs/db_migration_success" ]]; then
                npm i
                npm run migration:revert
              fi
  jobs:
    build_backend:
      docker:
        - image: circleci/node:13.8.0
      steps:
        - checkout
        - run: npm install --prefix backend
        - run: npm run build --prefix backend
        - persist_to_workspace:
            root: ~/
            paths:
              - project/backend/node_modules

    build_frontend:
      docker:
        - image: circleci/node:13.8.0
      steps:
        - checkout
        - run: npm install --prefix frontend
        - run: npm run build --prefix frontend
        - persist_to_workspace:
            root: ~/
            paths:
              - project/frontend/node_modules

    test_backend:
      docker:
        - image: circleci/node:13.8.0
      steps:
        - checkout
        - attach_workspace:
            at: ~/
        - run: npm i --prefix backend
        - run: npm run test --prefix backend

    test_frontend:
      docker:
        - image: circleci/node:13.8.0
      steps:
        - checkout
        - attach_workspace:
            at: ~/
        - run: npm i --prefix frontend
        - run: npm run test --prefix frontend

    analyze_backend:
      docker:
        - image: circleci/node:13.8.0
      steps:
        - checkout
        - run: npm audit fix --audit-level=critical --prefix backend

    analyze_frontend:
      docker:
        - image: circleci/node:13.8.0
      steps:
        - checkout
        - run: npm audit fix --audit-level=critical --prefix frontend

    deploy_backend_infrastructure:
      docker:
        - image: amazon/aws-cli
      steps:
        - checkout
        - run:
            name: Deploy the backend infrastructure using cloudformation
            command: |
             aws cloudformation deploy \
                --template-file .circleci/files/backend.yml \
                --tags project=udapeople-backend-${CIRCLE_WORKFLOW_ID:0:7} \
                 --stack-name "udapeople-backend-prod-${CIRCLE_WORKFLOW_ID:0:7}" \
                 --parameter-overrides ID="prod-${CIRCLE_WORKFLOW_ID:0:7}"
        - run:
            name: Save backend URL and IP (for ansible)
            command: |
              BACKEND_AWS_PUBLIC_IP=$(aws ec2 describe-instances \
                --filters "Name=tag:Name,Values=backend-prod-${CIRCLE_WORKFLOW_ID:0:7}" \
                --query 'Reservations[*].Instances[*].PublicIpAddress' \
                --output text)
              echo "http://$BACKEND_AWS_PUBLIC_IP:3030" >> .circleci/outputs/backend_url.txt
              echo "[all]" >> .circleci/ansible/inventory.txt
              echo "$BACKEND_AWS_PUBLIC_IP" >> .circleci/ansible/inventory.txt
              cat .circleci/outputs/backend_url.txt
        - run: yum -y install tar gzip
        - persist_to_workspace:
            root: ~/
            paths:
              - .circleci/outputs/backend_url.txt
              - .circleci/ansible/inventory.txt
        - destroy_environment:
            workflow_id: "${CIRCLE_WORKFLOW_ID:0:7}"

    deploy_frontend_infrastructure:
      docker:
        - image: amazon/aws-cli
      steps:
        - checkout
        - run:
            name: Deploy the frontend infrastructure using cloudformation
            command: |
              aws cloudformation deploy \
                --template-file .circleci/files/frontend.yml \
                --parameter-overrides ID="prod-${CIRCLE_WORKFLOW_ID:0:7}" \
                --stack-name udapeople-frontend-prod-${CIRCLE_WORKFLOW_ID:0:7}
        - destroy_environment:
            workflow_id: "${CIRCLE_WORKFLOW_ID:0:7}"

    run_db_migrations_for_backend:
      docker:
        - image: circleci/node:13.8.0
      steps:
        - checkout
        - attach_workspace:
            at: ~/
        - run:
            name: Run DB migrations
            command: |
              cd backend
              npm run migrations >> migration_output.txt
              cat migration_output.txt
        - run:
            name: Store migration result in a file.
            command: |
              cd backend
              if grep -q "has been executed successfully." migration_output.txt
              then
                touch .circleci/outputs/db_migration_success
              fi
        - persist_to_workspace:
            root: ~/
            paths:
              - .circleci/outputs/
        - destroy_environment:
            workflow_id: "${CIRCLE_WORKFLOW_ID:0:7}"

    deploy_backend_artifact:
      docker:
        - image: python:3.7-alpine3.11
      steps:
        - checkout
        - attach_workspace:
            at: ~/
        - run:
            name: Install dependencies
            command: |
              apk add --update curl nodejs npm ansible zip
              pip install awscli
        - run:
            name: Build backend app
            command: |
              cd backend
              npm i
              npm run build
              cd dist
              cp ../package.json .
              zip -rq dist.zip *
              mkdir -p .circleci/ansible/roles/deploy_backend/files/
              mv dist.zip .circleci/ansible/roles/deploy_backend/files/
        - add_ssh_keys:
            fingerprints: [ "ba:fe:61:06:6d:00:6e:31:44:5d:19:cf:ef:44:3e:cf" ]
        - run:
            name: Setup EC2 instance & copy compiled backend to the EC2 instance
            command: |
              ls .circleci/ansible/roles/deploy_backend/files/
              cd backend
              ansible-galaxy install weareinteractive.environment
              ANSIBLE_HOST_KEY_CHECKING=False ansible-playbook -i .circleci/ansible/inventory.txt .circleci/ansible/playbook.yml
        - destroy_environment:
            workflow_id: "${CIRCLE_WORKFLOW_ID:0:7}"
        - undo_migrations

    package_frontend_artifact:
      docker:
        - image: python:3.7-alpine3.11
      steps:
        - checkout
        - attach_workspace:
            at: ~/
        - run:
            name: Install dependencies
            command: |
              apk add --update curl nodejs npm
              pip install awscli
        - run:
            name: Package frontend app
            command: |
              export API_URL=`cat .circleci/outputs/backend_url.txt`
              echo "API_URL: $API_URL"
              cd frontend
              npm i
              npm install typescript@rc
              npm run build
        - persist_to_workspace:
            root: ~/
            paths:
              - project/frontend/dist
        - destroy_environment:
            workflow_id: "${CIRCLE_WORKFLOW_ID:0:7}"
        - undo_migrations

    deploy_frontend_artifact:
      docker:
        - image: python:3.7-alpine3.11
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              apk add --update curl tar
              pip install awscli
        - attach_workspace:
            at: ~/
        - run:
            name: Copy frontend to s3 bucket.
            command: |
              cd ~/project/frontend
              aws s3 cp dist s3://udapeople-prod-${CIRCLE_WORKFLOW_ID:0:7} --recursive
        - destroy_environment:
            workflow_id: "${CIRCLE_WORKFLOW_ID:0:7}"
        - undo_migrations

    smoke_test_frontend:
      docker:
        - image: python:3.7-alpine3.11
      steps:
        - attach_workspace:
            at: ~/
        - run:
            name: Install dependencies
            command: |
              apk add --update curl
              pip install awscli
        - run:
            name: Package frontend app
            command: |
              if curl -s http://udapeople-prod-${CIRCLE_WORKFLOW_ID:0:7}.s3-website.eu-central-1.amazonaws.com/ | grep "Welcome"
              then
              return 0
              else
              return 1
              fi
        - destroy_environment:
            workflow_id: "${CIRCLE_WORKFLOW_ID:0:7}"
        - undo_migrations

    smoke_test_backend:
      docker:
        - image: python:3.7-alpine3.11
      steps:
        - attach_workspace:
            at: ~/
        - run:
            name: Install dependencies
            command: |
              apk add --update curl
              pip install awscli
        - run:
            name: Test backend app.
            command: |
              API_URL=`cat .circleci/outputs/backend_url.txt`
              echo $API_URL
              curl -s $API_URL/api/status
        - destroy_environment:
            workflow_id: "${CIRCLE_WORKFLOW_ID:0:7}"
        - undo_migrations


    deploy_cloudfront_infrastructure:
      docker:
        - image: amazon/aws-cli
      steps:
        - checkout
        - run:
            name: Deploy the backend infrastructure using cloudformation
            command: |
              OLD_WORKFLOW_ID=$(aws cloudformation \
                list-exports --query "Exports[?Name==\`UdapeopleWorkflowID\`].Value" \
                --no-paginate --output text)
              echo "OLD_WORKFLOW_ID: $OLD_WORKFLOW_ID."
              export STACKS=($(aws cloudformation list-stacks --query "StackSummaries[*].StackName" \
                --stack-status-filter CREATE_COMPLETE --no-paginate --output text))
              printf '%s\n' "${STACKS[@]}"
              aws cloudformation deploy \
                --template-file .circleci/files/cloudfront.yml \
                --parameter-overrides ID="prod-${CIRCLE_WORKFLOW_ID:0:7}" \
                --stack-name udapeople-prod-cloudfront
              if printf '%s\n' "${STACKS[@]}" | grep -q "$OLD_WORKFLOW_ID"; then
                echo "Removing previous stack"
                aws s3 rm "s3://udapeople-${OLD_WORKFLOW_ID}" --recursive
                aws cloudformation delete-stack --stack-name "udapeople-backend-${OLD_WORKFLOW_ID}"
                aws cloudformation delete-stack --stack-name "udapeople-frontend-${OLD_WORKFLOW_ID}"
              fi
        - destroy_environment:
            workflow_id: "${CIRCLE_WORKFLOW_ID:0:7}"
        - undo_migrations

  workflows:
    my_workflow:
      jobs:
        - build_backend
        - build_frontend
        - test_backend:
            requires:
              - build_backend
        - test_frontend:
            requires:
              - build_frontend
        - analyze_backend:
            requires:
              - test_backend
        - analyze_frontend:
            requires:
              - test_frontend
        - deploy_backend_infrastructure:
            requires:
              - analyze_backend
              - analyze_frontend
            filters:
              branches:
                only: [ master ]
        - deploy_frontend_infrastructure:
            requires:
              - analyze_backend
              - analyze_frontend
            filters:
              branches:
                only: [ master ]
        - run_db_migrations_for_backend:
            requires:
              - deploy_backend_infrastructure
        - deploy_backend_artifact:
            requires:
              - run_db_migrations_for_backend
        - package_frontend_artifact:
            requires:
              - deploy_frontend_infrastructure
              - run_db_migrations_for_backend
        - deploy_frontend_artifact:
            requires:
              - package_frontend_artifact
        - smoke_test_backend:
            requires:
              - deploy_backend_artifact
        - smoke_test_frontend:
            requires:
              - deploy_frontend_artifact
        - deploy_cloudfront_infrastructure:
            requires:
              - smoke_test_backend
              - smoke_test_frontend

 

