/* .Pagination__container {
  margin-top: 25px;
  padding: 0 8px;
}

.Pagination__buttons-container {
  float: right;
  margin-bottom: 15px;
}

.Pagination__button {
  width: 134px;
  height: 42px;
  font-size: 100%;
}

.Pagination__input {
  width: 45px;
  height: 38px;
  border-radius: 4px;
  border: solid 1px #ced4da;
  background-color: #ffffff;
  margin: 0 6px;
  text-align: center;
  font-size: 100%;
}

.Pagination__button svg {
  margin: 0 8px;
} */
